@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap);
header nav a,
nav a {
  text-decoration: none;
}
footer,
nav a:hover {
  font-weight: 700;
}
footer,
nav {
  background-color: #00d22a;
}
header,
nav li {
  display: inline;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Quicksand, sans-serif;
  padding: 0;
  margin: 0;
}
.card,
footer,
main {
  padding: 20px;
}
#content {
  float: left;
  width: 75%;
}
aside {
  float: right;
  width: 24%;
}
h2,
h3 {
  color: #00eb2f;
}
.jumbotron,
footer {
  text-align: center;
  color: #fff;
}
nav a {
  font-weight: 400;
  font-size: 18px;
  color: #f5f5f5;
}

main {
  overflow: auto;
}
header nav a:hover {
  color: gold;
}
header nav a:active {
  color: red;
}
header > p::first-letter {
  font-family: montserrat;
  font-size: 2em;
  color: #00eb2f;
  font-weight: 700;
}
#content p,
header > p {
  text-indent: 2em;
}
#kota-metropolitan {
  text-indent: 0;
}
.profile header {
  text-align: center;
}
.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
.profile img {
  width: 150px;
}
.card {
  box-shadow: 14px 10px 20px 3px #454545;
  box-shadow: 2px 2px 5px 0 #696969;
  border-radius: 5px;
  margin-top: 20px;
}
.jumbotron {
  padding: 60px;
  background-color: #00eb2f;
  font-size: 20px;
}
nav li {
  list-style: none;
  margin-right: 20px;
}
nav {
  padding: 5px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px 0 #828282;
}
@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
